<!--<section>-->
<!--  <div class="card flex justify-content-center">-->
<!--    <p>{{'please_select'| translate}}</p>-->
<!--    <form [formGroup]="formGroup">-->
<!--      <p-dropdown formControlName="selectedLanguage"-->
<!--                  [options]="languages"-->
<!--                  optionLabel="language"-->
<!--                  placeholder="Select a language"-->
<!--      (onChange)="getLanguage($event)">-->
<!--      </p-dropdown>-->
<!--    </form>-->
<!--  </div>-->
<!--</section>-->
