<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="About">
    <app-about-course [aboutPayload]="aboutResponse"></app-about-course>
  </p-tabPanel>
  <p-tabPanel header="Course Content">
    <app-course-content [courseContent]="courseContentResponse"></app-course-content>
  </p-tabPanel>
  <p-tabPanel header="What's Included">
    <div [innerHTML]="course?.perks"></div>
  </p-tabPanel>
  <p-tabPanel header="Instructor">
    <app-instructor-details [instructorDetails]="course?.instructor"></app-instructor-details>
  </p-tabPanel>
  <p-tabPanel header="Reviews">
    <app-reviews [ratingsAndReviews]="course?.reviewSummary"></app-reviews>
  </p-tabPanel>
</p-tabView>

