<app-navbar></app-navbar>
<div class="container p-5">
  <h1>My Learning</h1>
  <div class="stats-cards d-flex justify-content-between flex-wrap mb-4">
    <p-card class="stat-card">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/solar_notebook-minimalistic-linear.svg" height="80" width="80" />
      </ng-template>
      <div class="d-flex flex-column align-items-center mt-2">
        <h2>2</h2>
        <p>Total Courses</p>
      </div>
    </p-card>
    <p-card class="stat-card">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/solar_square-academic-cap-linear.svg" height="80" width="80" />
      </ng-template>
      <div class="d-flex flex-column align-items-center mt-2">
        <h2>2</h2>
        <p>Active Courses</p>
      </div>
    </p-card>
    <p-card class="stat-card">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/solar_medal-ribbon-star-linear.svg" height="80" width="80" />
      </ng-template>
      <div class="d-flex flex-column align-items-center mt-2">
        <h2>2</h2>
        <p>Certificates</p>
      </div>
    </p-card>
  </div>

  <h2>Learning reminders</h2>
  <p>Learning a little each day adds up. Research shows that students who make learning a habit are more likely to reach their goals. Set time aside to learn and get reminders using your learning scheduler.</p>
  <button pButton type="button" label="Schedule learning time" icon="pi pi-plus" class="p-button-raised p-button-rounded p-button-success"></button>

  <p-tabView>
    <p-tabPanel header="Currently Learning">
      <div *ngFor="let enrollment of (enrolledCourses$ | async)" class="main-course-card">
        <div class="course-card">
          <img src="assets/images/course-img-2.png" alt="Course Thumbnail" class="course-thumbnail">
          <div class="course-info">
            <p class="course-title">{{enrollment.courseName}}</p>
            <p>By <strong>{{enrollment.courseInstructorName}}</strong></p>
            <div class="course-actions d-flex justify-content-start gap-5">
              <button pButton type="button" label="Overview" class="p-button-outlined overview"></button>
              <button pButton type="button" label="Continue" [routerLink]="'learning'" class="p-button-raised p-button-rounded p-button-success"></button>
            </div>
          </div>
        </div>
        <p-progressBar [value]="enrollment.progress" ></p-progressBar>
        <p>{{enrollment.progress}}% Complete</p>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Completed">
      <!-- Completed courses content -->
    </p-tabPanel>
    <p-tabPanel header="Total Courses">
      <!-- Total courses content -->
    </p-tabPanel>
  </p-tabView>
</div>
