.main{
  padding: 1rem;
}
/* Media query for screens between 0 and 665px width */
@media (min-width: 665px) {
  .sidebar {
    flex: 0 0 20rem; /* Optional: Set a default width for larger screens */
  }
  .main{
    flex: 1 1 auto;
  }
}

::ng-deep .p-sidebar {
  position: absolute;
  box-shadow: unset;
  height: 100vh;
}

::ng-deep .p-sidebar-content {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color-shade-1) #e0e0e0;
  padding: unset;
}

::ng-deep .p-sidebar-header {
  justify-content: flex-end;
  padding-top: unset;
}
::ng-deep .p-icon.p-sidebar-close-icon {
  height: 20px;
  width: 20px;
}


.main-container {
  display: flex;
  position: relative;
}

.main {
  flex: 1; /* Take up remaining space */
  max-width: 80%;
  padding-right: 10px;
  margin-right: auto;
  height: calc(100vh - 80px);
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--main-color-shade-1) #e0e0e0; /* Firefox */
}
