<main>
  <div class=" d-flex m-4  justify-content-start align-items-start" style="background: #F0F3FF;flex-direction: column;padding: 50px 100px;">
   <h1>Account</h1>
   <form [formGroup]="accountForm" novalidate (ngSubmit)="onSave()">
      <div style="border-bottom:1px solid #000;">
      <div class="d-flex mt-5" style="gap:20px;">
         <div>
            <label for="fullName" class="font-bold block">{{'Full Name' | translate}}
               <br>
               <input type="text" id="fullName" style="width:500px;height:50px" class="form-control" pInputText formControlName="fullName"/>
            </label>
            <small *ngIf="accountForm.get('fullName')?.invalid && accountForm.get('fullName')?.touched || showError" class="text-danger block">Name is required</small>
         </div>
         <div>
            <label for="email" class="font-bold">Email
               <br>
               <input id="email" type="email" style="width:500px;height:50px" class="form-control" formControlName="email"/>
            </label>
            <small *ngIf="accountForm.get('email')?.invalid && accountForm.get('email')?.touched || showError " class="text-danger block">Email is required</small>
         </div>
         
      </div>
      <div class="d-flex mt-5 mb-5" style="gap:20px;">
         <div>
            <label id="textZone" class="font-bold">Time Zone
               <br>
               <input type="text" id="textZone" style="width:500px;height:50px" class="form-control" formControlName="timeZone"/>
            </label>
            <small *ngIf="accountForm.get('timeZone')?.invalid && accountForm.get('timeZone')?.touched || showError " class="text-danger block">Time Zone is required</small>
         </div>
         <div>
            <label for="language" class="font-bold">Language
               <br>
               <input style="width:500px;height:50px" id="language" class="form-control block" formControlName="language"/>
            </label>
            <small *ngIf="accountForm.get('language')?.invalid &&  accountForm.get('language')?.touched || showError" class="text-danger block">Language is required</small>
         </div>
      </div>
      <button type="submit" [disabled]="accountForm.invalid" class="font-bold mb-5" style="color: 
      #A632DC;width:141px;height:47px;font-size:20px" >Save</button>
      </div>
      <div class="mt-5 " style="border-bottom:1px solid #000;">
         <h2>Name Verification</h2>
         <p>Verify your real name to make sure you’re able to receive a certificate when you complete a course or Specialization.</p>
         <br>
         <button label="Verify My name" class="font-bold mb-5" style="color: 
         #A632DC;width:200px;height:50px;font-size:20px" [disabled]="accountForm.invalid" (click)="onVerifyName()">Verify My name</button>
        </div>
        
   </form>

   <form [formGroup]="accountForm" novalidate (ngSubmit)="onChangePassword()">
      <div style="border-bottom: 1px solid #000;">
         <h2>Password</h2>
         <div class="d-flex mb-3" style="gap: 20px">
            <div>
               <label class="font-bold" for="cPassword">Current Password</label>
               <br>
               <input style="width:500px;height:50px" type="password" name="cPassword" id="cPassword" >      
               <small *ngIf="showError && accountForm.get('currentPassword')?.invalid && accountForm.get('currentPassword')?.dirty" class="block">Password not found</small>
            </div>
            <div>
               <label class="font-bold" for="newPassword">New Password</label>
               <br>
               <input style="width:500px;height:50px" type="password" name="newPassword" id="newPassword" >
               <small *ngIf="showError && accountForm.get('newPassword')?.invalid && accountForm.get('newPassword')?.dirty" class="block">Enter a valid password</small>
            </div>
         </div>
         <div>
            <label class="font-bold" for="retryPassword">Retry Password</label>
            <br>
            <input class=" mb-3" style="width:1020px;height:55px" type="password" name="retryPassword" id="retryPassword" >   
            <small *ngIf="showError && accountForm.get('retryPassword')?.invalid && accountForm.get('retryPassword')?.dirty" class="block">Password mismatch</small>
         </div>
         <button type="submit" class="font-bold mb-5" style="color: 
         #A632DC;width:200px;height:55px;font-size:20px" [disabled]="accountForm.invalid">Change Password</button>
        </div>
        <div class="mt-5">
         <h3>Two factor Authentication (BETA)</h3>
         <p>Two Factor Authentication adds an additional layer of security to your Coursera account. Each time you log in to the Platform, you will be asked to enter a unique code that is only available on your mobile phone. This extra protection ensures that you are the only one who will have access to your Course account and courses.</p>
         <br>
         <button class="font-bold"  style="color: 
         #A632DC;width:400px;height:50px;font-size: 20px;">Enable Two-Factor Authentication?</button>
        </div>
   </form>
  </div>>
</main>


<!-- 
    <form [formGroup]="accountForm" class="p-5">
       <p-card header="ACCOUNT" [style]="{ width: '1200px' }">
        <div>
         <label for="fullName">Full Name</label>
         <br>
         <input type="text" name="fullName" id="fullName" class="w-full">
        </div>
        <small *ngIf="fullName.invalid && [fullName.dirty || fullName.touched]"></small>
        <div>
         <label for="email">Email Address</label>
         <br>
         <input type="email" name="email" id="email" class="w-full">
        </div>
        <small *ngIf="email.invalid && [email.dirty || email.touched]"></small>
        <div>
         <label for="timeZone">Timezone</label>
         <br>
         <input type="datetime-local" name="timeZone" id="timeZone" class="w-full">
        </div>
        <small *ngIf="timeZone.invalid && [timeZone.dirty || timeZone.touched]"></small>
        <div>
         <label for="language">Language</label>
         <br>
         <input type="text" lang="en-en" name="language" id="language" class="w-full">
        </div>
        <small *ngIf="language.invalid && [language.dirty || language.touched]"></small>
        <br>
        <p-button label="Save" styleClass="full-width-button" [disabled]="accountForm.invalid" (click)="onSave()"></p-button>
        <div>
         <h2>Name Verification</h2>
         <p>Verify your real name to make sure you’re able to receive a certificate when you complete a course or Specialization.</p>
         <br>
         <p-button label="Verify My name" styleClass="full-width-button" [disabled]="accountForm.invalid" (click)="onVerifyName()"></p-button>
        </div>
 
        <div>
         <h2>Password</h2>
        <div>
         <label for="cPassword">Current Password</label>
         <br>
         <input type="password" name="cPassword" id="cPassword" class="w-full">
        </div>
        <small *ngIf="currentPassword.invalid && [currentPassword.dirty || currentPassword.touched]"></small>
        <div>
         <label for="newPassword">New Password</label>
         <br>
         <input type="password" name="newPassword" id="newPassword" class="w-full">
        </div>
        <small *ngIf="newPassword.invalid && [newPassword.dirty || newPassword.touched]"></small>
        <div>
         <label for="retryPassword">Retry Password</label>
         <br>
         <input type="password" name="retryPassword" id="retryPassword" class="w-full">
        </div>
        <small *ngIf="retryPassword.invalid && [retryPassword.dirty || retryPassword.touched]"></small>
        <br>
        <p-button label="Change Password" styleClass="full-width-button" [disabled]="accountForm.invalid" (click)="onChangePassword()"></p-button>
        </div>
        <div>
         <h3>Two factor Authentication (BETA)</h3>
         <p>Two Factor Authentication adds an additional layer of security to your Coursera account. Each time you log in to the Platform, you will be asked to enter a unique code that is only available on your mobile phone. This extra protection ensures that you are the only one who will have access to your Course account and courses.</p>
         <br>
         <p-button>Enable Two-Factor Authentication?</p-button>
        </div>
       </p-card> 
    </form>
      -->