::ng-deep div.p-card.p-component{
    background-color: #F0F3FF;
}

input,button{
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.00);
}
input{
    border: 1px solid #000;
}
input:focus{
    outline: 1px solid #A632DC;
}
button{
    border: 1px solid #A632DC;
}