<app-navbar></app-navbar>

<ng-container *ngIf="{
currentCourse: (currentCourse$ | async)
} as observables">

<main class='overflow-y-scroll'>

  <section class='container mt-5'>
    <h1>{{ observables?.currentCourse?.name}}</h1>
    <p-progressBar [value]="enrollment?.progress || 50" /><br/>

    <p-card>
      <div class='d-flex justify-content-between align-items-end'>
        <div>
          <p>Pick up where you left off</p>
          <h2 class='d-flex gap-1 align-items-end'>
            <p-chip label="Topic" icon="pi pi-book" />
            <span>{{ observables?.currentCourse?.currentLesson?.lessonTopicName }}</span>
          </h2>
        </div>
        <a [routerLink]="['/my-courses/learning', observables?.currentCourse?.id]"><h4>Resume <span class="pi pi-arrow-right"></span></h4></a>
      </div>
    </p-card>

    <section *ngIf='observables?.currentCourse?.subCourses && observables?.currentCourse?.subCourses?.length; else singleCourseTemplate'>
      <section class='content'>
        <h2>Curriculum</h2>
        <p-accordion>
          <p-accordionTab  *ngFor='let course of observables?.currentCourse?.subCourses'>
            <ng-template pTemplate="header">
              <span class="flex-column align-items-center gap-2 w-full">
                    <h3>{{ course?.name || 'Welcome to the Agile Software Developer Nanodegree Program' }}</h3>
                    <p-progressBar [value]="enrollment?.progress || 50" />
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div *ngIf='course?.projects || true'>
                      <b>Projects</b>
                      <div *ngFor='let project of course?.projects || [1]'>
                        <span class='pi pi-check-circle me-1' *ngIf='true; else notcompleted'></span>
                        <ng-template #notcompleted><span class='pi pi-circle-off me-1'></span></ng-template>
                        <span>Project: </span>
                        <span>WorldVisitz Mobile Application Agile Delivery Launch</span>
                      </div>
                    </div>
                </span>
            </ng-template>
            <app-topic *ngFor='let topic of [1,2,3]'></app-topic>
          </p-accordionTab>
        </p-accordion>
      </section>
    </section>
    <ng-template #singleCourseTemplate>
      <section class='content'>
        <h2>Topics</h2>
        <app-topic
          *ngFor='let topic of observables?.currentCourse?.contentSummary?.sections'
          [topic] = "topic"
          [courseCompleted]='observables?.currentCourse?.contentSummary?.completedSections.hasOwnProperty(topic.id)'
        ></app-topic>
      </section>
    </ng-template>
  </section>
</main>
</ng-container>
