
<section id="about">
  <div class="container w-75 ">
    <div class="flex justify-content-center ms-5">
      <div class="Titles mb-4">
        {{courseContent?.numberOfSections}} Sections  | {{courseContent?.numberOfLectures}} Lectures  |
        {{courseContent?.totalCourseDuration}}Total Length
      </div>
      <p-accordion [activeIndex]="0" class="w-full" *ngFor="let lesson of courseContent?.lessons">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div class="container">
              <div class="d-flex">
                <div class="order-1 flex-grow-1 fw-bolder text-dark">{{lesson?.lessonTitle}}</div>
                <div class="order-2 ">{{lesson?.totalNumberOfLectures}} Lectures | {{lesson?.lessonDuration}}</div>
              </div>
            </div>
          </ng-template>
          <app-carousel-course-content [lectures]="lesson?.lectures"></app-carousel-course-content>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</section>
