<!--<nav class="p-4 nav">-->
<!--  <div class="container text-white">-->
<!--     <div class="d-flex me-auto text-div">-->
<!--       <div class="row1 ms-5">-->
<!--         <div class="m-3">Web Programming</div>-->
<!--         <div class="m-3">Mobile Programming</div>-->
<!--         <div class="m-3">Java Beginner</div>-->
<!--         <div class="m-3">PHP Beginner</div>-->
<!--       </div>-->
<!--       <div class="row1 ms-5">-->
<!--         <div class="m-3">Adobe Illustrator</div>-->
<!--         <div class="m-3">Adobe Photoshop</div>-->
<!--         <div class="m-3">Design Logo</div>-->
<!--       </div>-->
<!--       <div class="row1 ms-5">-->
<!--         <div class="m-3">Writing Course</div>-->
<!--         <div class="m-3">Photography</div>-->
<!--         <div class="m-3">Video Making</div>-->
<!--       </div>-->
<!--     </div>-->
<!--    <div class="d-flex text-white p-4">-->
<!--      <div class="mt-4">-->
<!--        Copyright &#64; Techascend 2024. All Rights Reserved-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-end ms-auto mt-4">-->
<!--        <span class="pi pi-twitter ms-5 me-5"></span>-->
<!--        <span class="pi pi-instagram me-5"></span>-->
<!--        <span class="pi pi-facebook me-2"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
