<nav class="p-4 nav">
  <div class="container text-white">
     <div class="d-flex flex-wrap justify-content-between">
       <div class="row1">
         <div>Web Programming</div>
         <div>Mobile Programming</div>
         <div>Java Beginner</div>
         <div>PHP Beginner</div>
       </div>
       <div class="row1">
         <div>Adobe Illustrator</div>
         <div>Adobe Photoshop</div>
         <div>Design Logo</div>
       </div>
       <div class="row1">
         <div>Writing Course</div>
         <div>Photography</div>
         <div>Video Making</div>
       </div>
     </div>
    <div class="d-flex text-white p-2">
      <p >
        Copyright &#64; Techascend 2024. All Rights Reserved
      </p>
      <div class="d-flex justify-content-end ms-auto">
        <span class="pi pi-twitter me-5"></span>
        <span class="pi pi-instagram me-5"></span>
        <span class="pi pi-facebook me-2"></span>
      </div>
    </div>
  </div>
</nav>
