<section id="carousel-reviews" class="" *ngIf="carouselType === 'reviews'" >
  <div class="card border-0 reviews">
    <p-carousel [value]="reviews" [showNavigators]='false' [numVisible]="2" [numScroll]="1" [responsiveOptions]="responsiveOptions">
      <ng-template let-review pTemplate="item" *ngFor="let review of reviews">
        <div class="product-item" >
          <div class="product-item-content-reviews p-2">
            <div class="d-flex align-items-end">
              <img [src]="(imagebucket + review?.student.img ) || profileImage"
                   [alt]="review?.student.name" class="product-image-review" />
              <div class='d-flex flex-column align-items-baseline'>
                <small class='ps-2'>{{review?.student.name}}</small>
                <div style="font-size: 5px">
                  <p-rating [(ngModel)]="(review?.rating + '').split('.')[0]" [readonly]="true" [cancel]="false"
                ></p-rating>
                  <span style="font-size: 12px" class="pi pi-stopwatch "><span
                    class="ms-1">{{getMonthsAgo(review?.date || 'Fri Jun 07 2024')}}  {{'months' | translate}}</span></span>
                </div>
              </div>

            </div>
            <div class="text-start">
              <app-see-more-text [text]='review.review'></app-see-more-text>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
<section id="carousel" *ngIf="carouselType === 'courses'">
  <div class="upcoming-course ">
    <div class="card border-0 m-5" >
      <h4 >
        Similar Courses
        <hr/>
      </h4>
    </div>
    <p-carousel
      [value]="similarCourses"
      [numVisible]="4"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      [page]='2'
    >
      <ng-template let-course pTemplate="item">
        <div class="mr-3">
          <app-course-home-card
            [course]="course"
            [category]=''
          ></app-course-home-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
