<app-navbar></app-navbar>

<ng-container *ngIf="{
  processing: (processing$ | async),
  paymentMethods: (paymentMethods$ | async),
  courseSelected: (selectedCourses$ | async),
  total: (total$ | async)
} as observables">

<p-progressBar *ngIf="observables.processing" mode="indeterminate" [style]="{'height': '6px'}" />
  <p-messages
    [enableService]="true"
    [closable]="false" />
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>Checkout</h2>
      <div class="mb-3">
        <label class="form-label">Payment Type</label>
        <div>
          <img  class="me-2 provider-logo"
                [class.active]="selectedProvider.strProviderName === provider.strProviderName"
                [ngClass]="provider.strProviderName | removespaces | lowercase"
                *ngFor="let provider of observables.paymentMethods"
                [src]="imagebucket + provider.strProviderName + '.png'"
                [alt]="provider.strProviderName"
                (click)="selectedProvider = provider">
        </div>
      </div>
      <div [ngSwitch]="selectedProvider?.strProviderName">
        <div *ngSwitchCase="'MTN MOBILE MONEY'">
          <app-mobile-payment-form (processPayment)="makePayment($event)" [paymentMethod]="selectedProvider"></app-mobile-payment-form>
        </div>

        <div *ngSwitchCase="'BITCOIN'">
          <app-crypto-payment-form (processPayment)="makePayment($event)"></app-crypto-payment-form>
        </div>

        <div *ngSwitchCase="'AUTHORIZE'">
          <app-card-payment-form (processPayment)="makePayment($event)"></app-card-payment-form>
        </div>

        <div *ngSwitchCase="'PAYPAL'">
          <app-paypal-payment-form (processPayment)="makePayment($event)"></app-paypal-payment-form>
        </div>

        <div *ngSwitchDefault>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-4 mt-lg-0">
      <h2>Summary</h2>
      <div class="card mb-3"  *ngFor="let course of observables?.courseSelected">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="imagebucket + courseImage "  class="img-fluid rounded-start" alt="Product Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">{{course?.instructor?.name}}</p>
              <p class="card-text">${{course.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Subtotal: ${{observables?.total}}</li>
        <li class="list-group-item">Coupon Discount: $0.00</li>
        <li class="list-group-item">Tax: $0.00</li>
        <li class="list-group-item"><strong>Total: ${{observables.total}}</strong></li>
      </ul>
    </div>
  </div>
</div>
</ng-container>
<footer>
  <app-footer></app-footer>
</footer>
