<app-navbar></app-navbar>

<section *ngIf="false" class="container extra-info">
  <section id="shopping-cart">
    <div class="container w-75 pt-4">
      <div class="mb-4 pb-5">
        <h3>Shopping Chart</h3>
      </div>
      <ng-container *ngIf="{courses: selectedCourses$ | async} as observables">
        <div class="d-flex mt-5" *ngIf="observables?.courses">
          <div class="container" style="font-size: 14px; width: 65%">
            <p>{{observables?.courses?.length}} Course in Cart</p>
            <div  *ngFor="let course of observables?.courses" class="card pt-3 pb-3 pe-4 ps-4 mb-2">
              <div class="row">
                <div class="col-md-4 m-2">
                  <img [src]="profileImage" [alt]="'Product Image'" class="product-image rounded-4" height="160px"
                       width="200px"/>
                </div>
                <div class="col-md-5 m-2">
                  <h6 class="fw-bold">{{course?.name}}</h6>
                  <div class="mb-2">By <strong>{{course?.instructor?.name}}</strong></div>
                  <div class="mb-2">4.6 <p-rating></p-rating>
                    <span class="text-decoration-underline">(5,000 rating)</span>
                  </div>
                  <div class="mb-1">6 Sections | 29 lectures | Beginner</div>
                  <strong>$50.00</strong>
                </div>
                <div class="col-md-2 m-2">
                  <div class="mb-5">
                    <a class="text-decoration-none m-1" href="#" style="color: #A632DC">Remove</a>
                  </div>
                  <div class="mt-5">
                    <a class="text-decoration-none m-1" href="#" style="color: #A632DC">Save</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--      side card-->
          <div class="container" style="margin-top: -3rem; font-size: 14px; width:35%">
            <div class="card p-4" style="background-color: rgba(227, 195, 242, 0.5)">
              <span class="text-sm-start">Total:</span>
              <h6 class="mb-4 fw-bolder">$100.00</h6>
              <button class="btn btn-light p-2" style="background-color: #A632DC">Checkout</button>
              <hr/>
              <h5 class="mb-4">Promotions</h5>
              <div class="d-flex">
                <input class="form-control form-control-sm w-100 rounded-start-3" placeholder="Enter Coupon"
                       style="border:0.02rem solid #A632DC">
                <button class="btn btn-light rounded-end-3 text-sm-center" style="background-color: #A632DC;">
                  Apply</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </section>
  <aside>
    <app-carousel-courses></app-carousel-courses>
  </aside>
</section>
<ng-container *ngIf="{
  processing: (processing$ | async),
  paymentMethods: (paymentMethods$ | async),
  courseSelected: (selectedCourses$ | async),
  total: (total$ | async)
} as observables">

<p-progressBar *ngIf="observables.processing" mode="indeterminate" [style]="{'height': '6px'}" />
  <p-messages
    [enableService]="true"
    [closable]="false" />
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>Checkout</h2>
      <div class="mb-3">
        <label class="form-label">Payment Type</label>
        <div>
          <img  class="me-2 provider-logo"
                [class.active]="selectedProvider.strProviderName === provider.strProviderName"
                [ngClass]="provider.strProviderName | removespaces | lowercase"
                *ngFor="let provider of observables.paymentMethods"
                [src]="imagebucket + provider.strProviderName + '.png'"
                [alt]="provider.strProviderName"
                (click)="selectedProvider = provider">
        </div>
      </div>
      <div [ngSwitch]="selectedProvider?.strProviderName">
        <div *ngSwitchCase="'MTN MOBILE MONEY'">
          <app-mobile-payment-form (processPayment)="makePayment($event)" [paymentMethod]="selectedProvider"></app-mobile-payment-form>
        </div>

        <div *ngSwitchCase="'BITCOIN'">
          <app-crypto-payment-form (processPayment)="makePayment($event)"></app-crypto-payment-form>
        </div>

        <div *ngSwitchCase="'AUTHORIZE'">
          <app-card-payment-form (processPayment)="makePayment($event)"></app-card-payment-form>
        </div>

        <div *ngSwitchCase="'PAYPAL'">
          <app-paypal-payment-form (processPayment)="makePayment($event)"></app-paypal-payment-form>
        </div>

        <div *ngSwitchDefault>
          <app-card-payment-form (processPayment)="makePayment($event)"></app-card-payment-form>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-4 mt-lg-0">
      <h2>Summary</h2>
      <div class="card mb-3"  *ngFor="let course of observables?.courseSelected">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="imagebucket + courseImage "  class="img-fluid rounded-start" alt="Product Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">{{course?.instructor?.name}}</p>
              <p class="card-text">${{course.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Subtotal: ${{observables?.total}}</li>
        <li class="list-group-item">Coupon Discount: $0.00</li>
        <li class="list-group-item">Tax: $0.00</li>
        <li class="list-group-item"><strong>Total: ${{observables.total}}</strong></li>
      </ul>
    </div>
  </div>
</div>
</ng-container>
<footer>
  <app-footer></app-footer>
</footer>
