.navbar {
  background-color: var(--main-color-shade-1);
  opacity: 0.9;
  height: 70px;
  padding: 40px !important;
}

.nav-item{
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.figure-img{
  border-radius: 4rem
}

.navbar-brand {
  background: white;
  border-radius: 1000px;
  padding: 10px 16px;
  height: 70px;
  img {
    width: 250px;
    height: 50px;
  }
}
