<section id="carousel">
  <div class="container w-75">
    <div class="card border-0 m-5">
      Rating and Review
      <div class="d-flex pt-3 pb-3">
        <form [formGroup]="formGroup">
          <span class="me-2 fw-bold">{{ratingsAndReviews?.ratings?.averageRating}}</span>
          <p-rating formControlName="value"></p-rating>
        </form>
        <span class="ms-2 me-2">({{ratingsAndReviews?.ratings?.totalRatings}} rating)</span>
        <span class="ms-2 me-2">7000 students</span>
      </div>
      <div class="row m-1">
        <div class="col-md-6">
          <p-progressBar [showValue]="false" [value]="ratingsAndReviews?.ratings?.fiveStarPercentage"></p-progressBar>
        </div>
        <div class="col-md-6">
          <span><p-rating [(ngModel)]="valueRating5" [readonly]="true" [cancel]="false"
                          [stars]="5"></p-rating></span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-md-6">
          <p-progressBar [showValue]="false" [value]="ratingsAndReviews?.ratings?.fourStarPercentage"></p-progressBar>
        </div>
        <div class="col-md-6">
          <span><p-rating [(ngModel)]="valueRating4" [readonly]="true" [cancel]="false"
                          [stars]="4"></p-rating></span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-md-6">
          <p-progressBar [showValue]="false" [value]="ratingsAndReviews?.ratings?.threeStarPercentage"></p-progressBar>
        </div>
        <div class="col-md-6">
          <span><p-rating [(ngModel)]="valueRating3" [readonly]="true" [cancel]="false"
                          [stars]="3"></p-rating></span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-md-6">
          <p-progressBar [showValue]="false" [value]="ratingsAndReviews?.ratings?.twoStarPercentage"></p-progressBar>
        </div>
        <div class="col-md-6">
          <span><p-rating [(ngModel)]="valueRating2" [readonly]="true" [cancel]="false"
                          [stars]="2"></p-rating></span>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-md-6">
          <p-progressBar [value]="ratingsAndReviews?.ratings?.oneStarPercentage"
                         [showValue]="false"></p-progressBar>
        </div>
        <div class="col-md-6">
          <span><p-rating [(ngModel)]="valueRating1" [stars]="1" [readonly]="true" [cancel]="false"
                          ></p-rating></span>
        </div>
      </div>
    </div>
  </div>
  <app-carousel-courses [reviews]="ratingsAndReviews?.reviews" [carouselType]="'reviews'"></app-carousel-courses>
</section>
