<main>
    <div class="d-flex">
        <h1>Lets Start Learning, Franck</h1>
        <a href="" style="color: #A632DC;">My Learning</a>
    </div>
    <div class="d-flex">
    <div class="d-flex">
    <img src="/assets/images/solar_calendar-linear.png">
    <div>
    <div class="fond-bold">Create Schedule</div>
    <p>Schedule your learning and set a timer for  your learning. <a href="" style="color: #A632DC;">Get Started</a></p>
</div>
</div>
<div class="d-flex">
    <img src="/assets/images/solar_alarm-play-linear.png">
    <div>
    <div class="fond-bold">No Courses yet</div>
    <p>Browse and visit our top courses and gain a new skill today. <a href="" style="color: #A632DC;">Start Learning</a></p>
</div>
</div>
    </div>
</main>
