a {
  text-decoration: none;
}

li {
  margin-left: 1rem;
  margin-right: 1rem;

}
li.active {
  background-color: var(--main-color-shade-1);
  border-radius: 5px;
  color: var(--color-white) !important;

  a {
    color: var(--color-white) !important;
  }

  :hover {
    background-color: var(--main-color-shade-1) !important;
  }
}
