a {
  text-decoration: none;
}

li {
  margin-left: 1rem;
  margin-right: 1rem;

}
li.active {
  background-color: var(--main-color-shade-1);
  border-radius: 5px;
  color: var(--color-white) !important;

  a {
    color: var(--color-white) !important;
  }

  :hover {
    background-color: var(--main-color-shade-1) !important;
  }
}

::ng-deep p-button .p-ripple.p-element.p-button.p-component.p-button-icon-only {
  border-radius: 0 10px 10px 0;
  background: unset;
  border: 1px solid var(--main-color-shade-1);
  color: var(--main-color-shade-1);
}
