<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{course.title}}</h4>
                  <p class="card-text">{{course.description}}</p>
                  <p class="card-text">{{course.instructor}}</p>
                  <p class="card-text">${{course.price}}</p>
                  <img src="" alt="" class="rating">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{course.title}}</h4>
                  <p class="card-text">{{course.description}}</p>
                  <p class="card-text">{{course.instructor}}</p>
                  <p class="card-text">${{course.price}}</p>
                  <img src="" alt="" class="rating">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{course.title}}</h4>
                  <p class="card-text">{{course.description}}</p>
                  <p class="card-text">{{course.instructor}}</p>
                  <p class="card-text">${{course.price}}</p>
                  <img src="" alt="" class="rating">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{course.title}}</h4>
                  <p class="card-text">{{course.description}}</p>
                  <p class="card-text">{{course.instructor}}</p>
                  <p class="card-text">${{course.price}}</p>
                  <img src="" alt="" class="rating">
                </div>
            </div>
        </div>
    </div>
</div>

