::ng-deep .p-splitbutton .p-splitbutton-defaultbutton {
    background-color: transparent;
    color: #000;
    border-color: #A632DC;
}
::ng-deep .p-splitbutton-menubutton{
  background-color: transparent;
  color: #000;
  border-color: #A632DC;
}
// .pi {
//     padding-right: 20px; 
//   }

  a{
    color: #000;
  }