<!--<app-navbar></app-navbar>-->
<!--&lt;!&ndash; Create the side bar layout &ndash;&gt;-->
<!--<div class="sidebar p-4" [ngClass]="{'sidebar-visible':'sidebarVisible'}">-->
<!--    -->
<!--    &lt;!&ndash; This button serves as a toggle button to show/hide the sidebar. &ndash;&gt;-->
<!--    &lt;!&ndash; <button type="button" pButton icon="pi pi-bars" (click)="toggleSideBar()" class="p-button p-button-rounded"></button> &ndash;&gt;-->
<!--   -->
<!--    &lt;!&ndash; This div contains the content of the sidebar. &ndash;&gt;-->
<!--   <div class="sidebar-content">-->
<!--    &lt;!&ndash; <ul style="list-style-type: none; padding: 5;">-->
<!--        <li><span class="pi pi-user "></span><a class="text-decoration-none">Account</a></li>-->
<!--        <li><span class="pi pi-credit-card"></span><a class="text-decoration-none">Payment</a></li>-->
<!--        <li><span class="pi pi-envelope "></span><a class="text-decoration-none">Communication Preferences</a></li>-->
<!--        <li><span class="pi pi-notes"></span><a class="text-decoration-none">Notes & Highlights</a></li>-->
<!--        <li><span class="pi pi-calendar"></span><a class="text-decoration-none">Calendar Sync</a></li>-->
<!--        <li><span class="pi pi-list"></span><a class="text-decoration-none" [routerLink]="['/transaction']">Transaction</a></li>-->
<!--    </ul> &ndash;&gt;-->
<!--    <p-splitButton label="Account" icon="pi pi-user"  styleClass="first-splitbutton"></p-splitButton>-->
<!--    <br>-->
<!--    <p-splitButton label="Payment" icon="pi pi-credit-card"  styleClass="first-splitbutton"></p-splitButton>-->
<!--    <br>-->
<!--    <p-splitButton label="Communication Preferences" icon="pi pi-envelope"  styleClass="first-splitbutton"></p-splitButton>-->
<!--    <br>-->
<!--    <p-splitButton label="Notes & Highlights" icon="pi pi-pencil"  styleClass="first-splitbutton"></p-splitButton>-->
<!--    <br>-->
<!--    <p-splitButton label="Calendar Sync" icon="pi pi-calendar"  styleClass="first-splitbutton"></p-splitButton>-->
<!--    <br>-->
<!--    <p-splitButton label="Transaction" icon="pi pi-list" [routerLink]="['/transaction']" styleClass="secound-splitbutton"></p-splitButton>-->
<!--</div>-->

<!--      -->
<!--</div>-->
