<app-navbar></app-navbar>
<!-- Create the side bar layout -->
<div class="sidebar p-4" [ngClass]="{'sidebar-visible':'sidebarVisible'}">
    
    <!-- This button serves as a toggle button to show/hide the sidebar. -->
    <!-- <button type="button" pButton icon="pi pi-bars" (click)="toggleSideBar()" class="p-button p-button-rounded"></button> -->
   
    <!-- This div contains the content of the sidebar. -->
   <div class="sidebar-content">
    <p-splitButton label="Account" icon="pi pi-user" [routerLink]="['/amount']" styleClass="first-splitbutton"></p-splitButton>
    <br>
    <p-splitButton label="Payment" icon="pi pi-credit-card" [routerLink]="['/payment']" styleClass="first-splitbutton"></p-splitButton>
    <br>
    <p-splitButton label="Communication Preferences" icon="pi pi-envelope"  styleClass="first-splitbutton"></p-splitButton>
    <br>
    <p-splitButton label="Notes & Highlights" icon="pi pi-pencil"  styleClass="first-splitbutton"></p-splitButton>
    <br>
    <p-splitButton label="Calendar Sync" icon="pi pi-calendar"  styleClass="first-splitbutton"></p-splitButton>
    <br>
    <p-splitButton label="Transaction" icon="pi pi-list" [routerLink]="['/transaction']" styleClass="secound-splitbutton"></p-splitButton>
</div>

      
</div>
