<app-navbar></app-navbar>
<div class="main">
    <div class="sidebar">
        <h2>All Courses</h2>
        <div class="sidenav">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Header I">
                    <div class="btn-group dropend">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropright
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropright
                              </button>
                              <ul class="dropdown-menu">
                                <li>he</li>
                                <li>j</li>
                                <li>j</li>
                                <li>j</li>
                              </ul>
                          </li>
                          <li>ji</li>
                          <li>dd</li>
                        </ul>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Header II">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Header III">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="catalogue">
        <p-dropdown [options]="filter" optionLabel="name" [showClear]="true" placeholder="Sort by"></p-dropdown>
    </div>
</div>