<app-navbar></app-navbar>
<div class="main">
    <div class="sidebar">
        <h2>All Courses</h2>
        <div class="sidenav">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Header I">
                    <p-tieredMenu [model]="items"></p-tieredMenu>
                </p-accordionTab>
                <p-accordionTab header="Header II">
                    <p-tieredMenu [model]="items"></p-tieredMenu>
                </p-accordionTab>
                <p-accordionTab header="Header III">
                    <p-tieredMenu [model]="items"></p-tieredMenu>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="main-body">
        <p-dropdown [options]="filter" optionLabel="name" [showClear]="true" placeholder="Sort by"></p-dropdown>
        <div class="catalogue">
            <div class="row" *ngFor="let item of courses.slice(0,18);">
                <div class="card" style="width:250px">
                    <!-- <img class="card-img-top" src="" alt="Card image"> -->
                    <div class="card-img-top"></div>
                    <div class="card-body">
                      <h4 class="card-title">{{item.name}}</h4>
                      <p class="card-text instructor">{{item.instructorId}}</p>
                      <p class="card-text price">${{item.price}}</p>
                      <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>