<app-navbar></app-navbar>
<p-breadcrumb class="bg-transparent"  [styleClass]="'custom-breadcrumb'"  [model]="menus" [home]="home"></p-breadcrumb>
<div class="course-container">
  <div class="main-content">
    <h2 class="mb-5 me-auto w-80 m-auto">{{ selectedLesson }}</h2>
    <app-lesson-part [lessonParts]="lessonParts"></app-lesson-part>
  </div>
  <div class="sidebar">
    <p-tabView>
      <p-tabPanel header="Content">
        <ul class="lesson-list">
          <li *ngFor="let lesson of lessons" (click)="selectLesson(lesson)" [class.active]="lesson === selectedLesson">{{ lesson }}</li>
        </ul>
      </p-tabPanel>
      <p-tabPanel header="Resources">

      </p-tabPanel>
    </p-tabView>
  </div>
</div>
