<section id="about">
  <div class="container w-75 ">
    <div class="tag text-start">
      <div class="flex justify-content-between">
        <p-tag value="{{'Last_Updated' | translate}}{{keyAspectsOfCourse.createdAt}}"></p-tag>
        <p-tag value="{{keyAspectsOfCourse.certificateType}}"></p-tag>
        <p-tag value="{{keyAspectsOfCourse.offers}}"></p-tag>
        <p-tag value="{{keyAspectsOfCourse.duration}}"></p-tag>
        <p-tag value="{{keyAspectsOfCourse.level}}"></p-tag>
      </div>
    </div>
    <div class="description card border-0 p-2 text-start text-wrap" >
      <h4 class="fw-bold text-start">{{'Description' | translate}}</h4>
        {{aboutResponseBody.description}}
  </div>
    <div class="learn card border-0 p-2 text-start text-wrap  " >
      <h4 class="fw-bold text-start">{{'courseLearn' | translate}}</h4>
     {{aboutResponseBody.courseLearn}}
    </div>
    <div class="learn card border-0 p-2 text-start text-wrap  " >
      <h4 class="fw-bold text-start">{{'courseFor' | translate}}</h4>
      {{aboutResponseBody.courseFor}}
    </div>
  </div>
</section>
