
:host ::ng-deep {
  .product-item {
    .product-item-content {
      border: 1px solid var(--main-color-shade-1);
      border-radius: 0.6rem;
      margin: .3rem;
      text-align: center;
      padding: 0 0;
      box-shadow: 0 1px 2px var(--main-color-shade-1), 0 1px 2px var(--main-color-shade-1)
    }
  }
}
