<div>
    <h2>Notes and Hightlights</h2>
    <div>
        <h3>My Notes</h3>
        <div *ngFor="let note of notes">
            <p>{{note.content}}</p>
            <button (click)="editNote(note)">Edit</button>
            <button (click)="deleteNote(note)">Delete</button>
        </div>
    </div>
    <div>
        <h3>My Highlights</h3>
        <div *ngFor="let highlight of highlights">
            <p>{{highlight.content}}</p>
            <button (click)="editHightlight(highlight)">Edit</button>
            <button (click)="deleteHightlight(highlight)">Delete</button>
        </div>
    </div>
</div>
