<div class="container">
  <h3>Add Course</h3>
  <div class="courseData">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" >
      <div class="mb-3">
        <label class="form-label" for="name">Course Title</label>
        <input aria-label=".form-control-sm example"
               formControlName="name"
               class="form-control form-control-sm" id="name"
               placeholder="Enter a course topic" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" formControlName='description' id="description" rows="3"></textarea>
      </div>
      <div class="d-flex">
        <div class="mb-3 w-100">
          <label class="form-label" for="startDate">Start Date</label>
          <input aria-label=".form-control-sm example"
                 formControlName="startDate"
                 class="form-control form-control-sm" id="startDate"
                 placeholder="Enter course start date" type="date">
        </div>
        <div class="mb-3 w-100">
          <label class="form-label" for="endDate">End Date</label>
          <input aria-label=".form-control-sm example"
                 formControlName="endDate"
                 class="form-control form-control-sm" id="endDate"
                 placeholder="Enter course end date" type="date">
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="duration">Duration</label>
        <input aria-label=".form-control-sm example"
               formControlName="duration"
               class="form-control form-control-sm" id="duration"
               placeholder="Enter course duration" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input aria-label=".form-control-sm example"
               formControlName="price"
               class="form-control form-control-sm" id="price"
               placeholder="Enter course price" type="number">
      </div>
      <div class="mb-3">
        <label for="status">Status</label>
        <select class="form-control" formControlName='status' id="status">
          <option *ngFor="let option of ['DRAFT', 'PUBLISHED', 'INACTIVE', 'ARCHIVED']">{{ option }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="category">Category</label>
        <input aria-label=".form-control-sm example"
               formControlName="category"
               class="form-control form-control-sm" id="category"
               placeholder="Enter course category" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="discountedPrice">Discounted Price</label>
        <input aria-label=".form-control-sm example"
               formControlName="discountedPrice"
               class="form-control form-control-sm" id="discountedPrice"
               placeholder="Enter course discounted price" type="number">
      </div>
      <div class="mb-3">
        <label class="form-label" for="about">Description</label>
        <textarea class="form-control" formControlName='about' id="about" rows="3"></textarea>
      </div>
      <div class="card">
        <p-toast />
        <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*" [maxFileSize]="1000000" (onUpload)="onTemplatedUpload()" (onSelect)="onSelectedFiles($event)">
          <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
            <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
              <div class="flex gap-2">
                <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" />
                <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
                <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
              </div>
              <p-progressBar [value]="totalSizePercent" [showValue]="false" styleClass="md:w-20rem h-1rem w-full md:ml-auto" [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }">
                <span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span>
              </p-progressBar>
            </div>
          </ng-template>
          <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
            <div *ngIf="files?.length > 0">
              <h5>Pending</h5>
              <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                <div *ngFor="let file of files; let i = index" class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                  <div>
                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                  </div>
                  <span class="font-semibold">{{ file.name }}</span>
                  <div>{{ formatSize(file.size) }}</div>
                  <p-badge value="Pending" severity="warning" />
                  <p-button icon="pi pi-times" (click)="onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true" severity="danger" />
                </div>
              </div>
            </div>
            <div *ngIf="uploadedFiles?.length > 0">
              <h5>Completed</h5>
              <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                <div *ngFor="let file of uploadedFiles; let i = index" class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                  <div>
                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                  </div>
                  <span class="font-semibold">{{ file.name }}</span>
                  <div>{{ formatSize(file.size) }}</div>
                  <p-badge value="Completed" class="mt-3" severity="success" />
                  <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true" [rounded]="true" severity="danger" />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="file"> </ng-template>
          <ng-template pTemplate="empty">
            <div class="flex align-items-center justify-content-center flex-column">
              <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
              <p class="mt-4 mb-0">Drag and drop files to here to upload.</p>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>      <div class="mb-3 d-flex">
        <div class="form-check">
          <input class="form-check-input" formControlName="issueCertificate" type="checkbox" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Has Completion Certificate
          </label>
        </div>
      </div>
      <div class="mb-3 d-flex">
        <div class="w-75">
          <label class="form-label" for="name">Course Title</label>
          <input aria-label=".form-control-sm example"
                 formControlName=""
                 class="form-control form-control-sm" id="targetAudience"
                 placeholder="Enter a course audience" type="text">
        </div>
        <div class="w-25">
          <label></label>
          <button class="btn bg-purple text-white mb-2 text-center" type="submit"
          ><span class="me-2 pi pi-plus"></span>Add</button>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="level">Level</label>
        <select class="form-control" formControlName='level' id="level">
          <option class="text-capitalize"
                  *ngFor="let option of ['Beginner', 'Intermediate', 'Advanced', 'Expert']">{{ option }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="level">Type</label>
        <select class="form-control" formControlName='type' id="type">
          <option class="text-capitalize"
                  *ngFor="let option of ['COURSE', 'DEGREE', 'WORKSHOP']">{{ option }}</option>
        </select>
      </div>
      <button class="btn bg-purple text-white mb-2 text-center" type="submit"
      >Save
        course</button>

    </form>
  </div>
  <div class="courseTopic mb-3 ">
    <button class="btn bg-purple text-white w-25" data-bs-target="#exampleModal1" data-bs-toggle="modal" type="button">
      <span class="me-2 pi pi-plus"></span> Add Course Topic
    </button>
  </div>
  <div class="courseLesson mb-3 ">
    <button class="btn bg-purple text-white w-25" data-bs-target="#exampleModal2" data-bs-toggle="modal" type="button">
      <span class="me-2 pi pi-plus"></span> Add Course Lesson
    </button>
  </div>
</div>



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseTopics()" [formGroup]="courseTopicForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Course Topic Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="name"
                   class="form-control form-control-sm" id="topicName"
                   placeholder="Enter a course topic" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Course Topic Position</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="topicPosition"
                   formControlName="position"
                   placeholder="Enter the course topic position" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Course Topic Duration</label>
            <input aria-label=".form-control-sm example"
                   formControlName="duration"
                   class="form-control form-control-sm"
                   id="topicDuration"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Lesson Form</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseLesson()" [formGroup]="courseLessonForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Lesson Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="lessonName"
                   class="form-control form-control-sm" id="lessonName"
                   placeholder="Enter lesson name" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Title</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="title"
                   formControlName="title"
                   placeholder="Enter the title" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Lesson Position</label>
            <input aria-label=".form-control-sm example"
                   formControlName="position"
                   class="form-control form-control-sm"
                   id="position"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <div class="mb-3">
            <label for="status">Content Type</label>
            <select class="form-control" formControlName='contentType' id="contentType"
            (change)="onSelectContentType()">
              <option [ngValue]="i"
                      *ngFor="let option of ['VIDEO', 'LECTURE', 'QUIZ']; let i = index">{{ option }}</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="courseLessonForm.get('contentType')!.value === 1">
            <label class="form-label" for="content">Content :</label>
            <textarea type="text"
                      class="form-control form-control-sm"
                      formcontrolName="content" id="content">
            </textarea>
          </div>
          <div class="mb-3" *ngIf="courseLessonForm.get('contentType')!.value === 0">
            <label class="form-label" for="video">Upload the videoUrl :</label>
            <input type="file"
                      class="form-control form-control-sm"
                      formcontrolName="content" id="video">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


