<div class="container">
  <h1>New Course</h1>
  <div class="courseData">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" >
      <div class="mb-3">
        <label class="form-label" for="name">Course Title</label>
        <input aria-label=".form-control-sm example"
               formControlName="name"
               class="form-control form-control-sm" id="name"
               placeholder="Enter a course topic" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" formControlName='description' id="description" rows="3"></textarea>
      </div>
      <div class="d-flex">
        <div class="mb-3">
          <label class="form-label" for="startDate">Start Date</label>
          <input aria-label=".form-control-sm example"
                 formControlName="startDate"
                 class="form-control form-control-sm" id="startDate"
                 placeholder="Enter a course topic" type="date">
        </div>
        <div class="mb-3">
          <label class="form-label" for="endDate">End Date</label>
          <input aria-label=".form-control-sm example"
                 formControlName="endDate"
                 class="form-control form-control-sm" id="endDate"
                 placeholder="Enter a course topic" type="date">
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="duration">Duration</label>
        <input aria-label=".form-control-sm example"
               formControlName="duration"
               class="form-control form-control-sm" id="duration"
               placeholder="Enter course duration" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input aria-label=".form-control-sm example"
               formControlName="price"
               class="form-control form-control-sm" id="price"
               placeholder="Enter course price" type="number">
      </div>
      <div class="mb-3">
        <label for="status">Status</label>
        <select class="form-control" formControlName='status' id="status">
          <option *ngFor="let option of ['DRAFT', 'PUBLISHED', 'INACTIVE', 'ARCHIVED']">{{ option }}</option>
        </select>
      </div>
      <div class="instructorDetails">
        <div formGroupName="instructors">
          <div class="mb-3">
            <label class="form-label" for="instructorName">Instructor Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="instructorName"
                   class="form-control form-control-sm" id="instructorName"
                   placeholder="Enter course price" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="profession">Profession</label>
            <input aria-label=".form-control-sm example"
                   formControlName="profession"
                   class="form-control form-control-sm" id="profession"
                   placeholder="Enter course price" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="yearsOfExperience">Years Of Experience</label>
            <input aria-label=".form-control-sm example"
                   formControlName="yearsOfExperience"
                   class="form-control form-control-sm" id="yearsOfExperience"
                   placeholder="Enter course price" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="InstructorDescription">Description</label>
            <textarea class="form-control" formControlName='description' id="InstructorDescription" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="profPic">Upload Profile Picture</label>
            <input aria-label=".form-control-sm example"
                   formControlName="profilePicture"
                   class="form-control form-control-sm" id="profPic"
                   placeholder="Enter Profile Picture" type="file">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="category">Category</label>
        <input aria-label=".form-control-sm example"
               formControlName="category"
               class="form-control form-control-sm" id="category"
               placeholder="Enter course category" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="discountedPrice">Discounted Price</label>
        <input aria-label=".form-control-sm example"
               formControlName="discountedPrice"
               class="form-control form-control-sm" id="discountedPrice"
               placeholder="Enter course discounted price" type="number">
      </div>
      <div class="mb-3 d-flex">
        <div class="form-check">
          <input class="form-check-input" formControlName="hasCompletionCertificate" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Has Completion Certificate
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="hasRealWorldProjects" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Has Real World Projects
          </label>
        </div>

      </div>
      <div class="mb-3">
        <label class="form-label" for="level">Level</label>
        <select class="form-control" formControlName='level' id="level">
          <option *ngFor="let option of ['Beginner', 'Intermediate', 'Advanced', 'Expert']">{{ option }}</option>
        </select>
      </div>
      <button [disabled]="courseForm.invalid" class="btn bg-purple text-white mb-2 text-center" type="submit">Save
        course</button>

    </form>
  </div>
  <div class="courseTopic mb-3 ">
    <button class="btn bg-purple text-white w-25" data-bs-target="#exampleModal1" data-bs-toggle="modal" type="button">
      <span class="me-2 pi pi-plus"></span> Add Course Topic
    </button>
  </div>
  <div class="courseLesson mb-3 ">
    <button class="btn bg-purple text-white w-25" data-bs-target="#exampleModal2" data-bs-toggle="modal" type="button">
      <span class="me-2 pi pi-plus"></span> Add Course Lesson
    </button>
  </div>
</div>



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseTopics()" [formGroup]="courseTopicForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Course Topic Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="name"
                   class="form-control form-control-sm" id="topicName"
                   placeholder="Enter a course topic" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Course Topic Position</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="topicPosition"
                   formControlName="position"
                   placeholder="Enter the course topic position" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Course Topic Duration</label>
            <input aria-label=".form-control-sm example"
                   formControlName="duration"
                   class="form-control form-control-sm"
                   id="topicDuration"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseTopics()" [formGroup]="courseTopicForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Course Topic Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="name"
                   class="form-control form-control-sm" id="topicName"
                   placeholder="Enter a course topic" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Course Topic Position</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="topicPosition"
                   formControlName="position"
                   placeholder="Enter the course topic position" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Course Topic Duration</label>
            <input aria-label=".form-control-sm example"
                   formControlName="duration"
                   class="form-control form-control-sm"
                   id="topicDuration"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


