<div class="card">
  <label for="fileUpload">Upload file</label>
  <div class="file-upload">
    <div class="upload-instructions">
      <span>Drag & drop files or <a href="#" (click)="$event.preventDefault(); fileInputEl.nativeElement.click()">Browse</a></span>
      <p>Supported formats: JPEG, PNG, GIF, MP4</p>
    </div>
    <input type="file" id="fileUpload" name="fileUpload" #fileInput (change)="onFileSelected($event)">
  </div>

  <div *ngIf="selectedFile && !uploadSuccess" class="file-details">
    <div class="file-info">
      <img [src]="selectedFileURL" alt="Selected File" *ngIf="isImageFile(selectedFile)">
      <video [src]="selectedFileURL" controls *ngIf="isVideoFile(selectedFile)"></video>        <p>{{ selectedFile?.name }}</p>
      <p>{{ selectedFile?.size || 0 / 1000 }}kb</p>
    </div>
    <button type="button" (click)="removeFile()">x</button>
  </div>

  <div *ngIf="uploadUrl" class="file-details">
    <div class="file-info">
      <img [src]="uploadUrl" alt="Selected File" >
<!--      <video [src]="uploadUrl" controls *ngIf="isVideoFile(selectedFile)"></video>        <p>{{ selectedFile?.name }}</p>-->
    </div>
    <button type="button" (click)="removeFile()">x</button>
  </div>

  <div class="progress-bar" *ngIf="uploading">
    <div class="progress" [style.width.%]="uploadProgress"></div>
  </div>
</div>
