<header>
    <app-navbar></app-navbar>
    <div class="Hero">
        <div class="content">
            <p><span class="title">Learn something new everyday.</span></p> 
            <p>Become professionals and ready to join the world.</p>
        </div>
    </div>
    <div class="search-column">
        <div class="title">What do you want to learn?</div>
        <div class="fields">
            <input type="text" name="" id="find" placeholder="Find courses, skills, softwares etc">
            <input type="text" name="" id="category" placeholder="Categories">
            <input type="text" name="" id="topic" placeholder="Topics">
            <button type="submit">Search</button>
        </div>
    </div>
</header>
<section class="topCourses">
    <h5>Browse Our Top Courses</h5> 
    <p-tabView styleClass="prime-tabView-override"> 
        <p-tabPanel header="Design"  [selected]="true"> 
            <div class="row">
                <div class="col" *ngFor="let item of trendingCourses.slice(0,4);">
                    <div class="card" style="width:250px">
                        <!-- <img class="card-img-top" src="" alt="Card image"> -->
                        <div class="card-img-top"></div>
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <p class="card-text instructor">{{item.instructorId}}</p>
                          <p class="card-text price">${{item.price}}</p>
                          <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel> 
        <p-tabPanel header="Developer"> 
            <div class="row">
                <div class="col" *ngFor="let item of trendingCourses.slice(2,6);">
                    <div class="card" style="width:250px">
                        <!-- <img class="card-img-top" src="" alt="Card image"> -->
                        <div class="card-img-top"></div>
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <p class="card-text instructor">{{item.instructorId}}</p>
                          <p class="card-text price">${{item.price}}</p>
                          <img src="" alt="" class="rating">
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel> 
        <p-tabPanel header="Business"> 
            <div class="row">
                <div class="col" *ngFor="let item of trendingCourses.slice(0,4);">
                    <div class="card" style="width:250px">
                        <!-- <img class="card-img-top" src="" alt="Card image"> -->
                        <div class="card-img-top"></div>
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <p class="card-text instructor">{{item.instructorId}}</p>
                          <p class="card-text price">${{item.price}}</p>
                          <img src="" alt="" class="rating">
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel> 
        <p-tabPanel header="Marketing"> 
            <div class="row">
                <div class="col" *ngFor="let item of trendingCourses.slice(1,5);">
                    <div class="card" style="width:250px">
                        <!-- <img class="card-img-top" src="" alt="Card image"> -->
                        <div class="card-img-top"></div>
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <p class="card-text instructor">{{item.instructorId}}</p>
                          <p class="card-text price">${{item.price}}</p>
                          <img src="" alt="" class="rating">
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel> 
        <p-tabPanel header="Photography"> 
            <div class="row">
                <div class="col" *ngFor="let item of trendingCourses.slice(2,6);">
                    <div class="card" style="width:250px">
                        <!-- <img class="card-img-top" src="" alt="Card image"> -->
                        <div class="card-img-top"></div>
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <p class="card-text instructor">{{item.instructorId}}</p>
                          <p class="card-text price">${{item.price}}</p>
                          <img src="" alt="" class="rating">
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>  
    </p-tabView>

    <div class="container">
        <div class="body">
            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
            <p>Lorem ipsum dolor sit amet consectetur. 
                Vitae egestas aliquet habitant eget est et diam cursus. 
                Aliquam urna eros rhoncus augue.
            </p>
        </div>
        <button
            type="button"
            class="btn btn-primary"
            (click)="Page('course-details')"
        >
            join Techascend
        </button>
    </div>
</section>

<section>
    <div class="container">
        <h5>Trending Courses</h5>
        <div class="trendSection">
            <div class="col">.col-sm-4</div>
            <div class="row trends">
                <div class="col" *ngFor="let item of trendingCourses.slice(0,4);">
                    <div class="card" style="width:250px">
                        <!-- <img class="card-img-top" src="" alt="Card image"> -->
                        <div class="card-img-top"></div>
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <p class="card-text instructor">{{item.instructorId}}</p>
                          <p class="card-text">{{item.description}}</p>
                          <p class="card-text price">${{item.price}}</p>
                          <img src="" alt="" class="rating">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h5>Upcoming courses</h5>
        <div class="row">
            <div class="col" *ngFor="let item of trendingCourses.slice(0,4);">
                <div class="card" style="width:250px">
                    <!-- <img class="card-img-top" src="" alt="Card image"> -->
                    <div class="card-img-top"></div>
                    <div class="card-body">
                      <h4 class="card-title">{{item.name}}</h4>
                      <p class="card-text instructor">{{item.instructorId}}</p>
                      <p class="card-text price">${{item.price}}</p>
                      <img src="" alt="" class="rating">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-course-details-page></app-course-details-page> -->