.header{
  background-color: var(--main-color-shade-1);
  background-image: url("/assets/images/hero-image.png"); /* Replace with your image path */
  background-size: cover; /* Scales the image to cover the container */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-position: center; /* Centers the image horizontally and vertically */
}
.padded-text {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.text-purple{
  color: var(--main-color-shade-1)
}
.bg-purple{
  background-color: var(--main-color-shade-2)
}
::ng-deep a {
  color: var(--color-grey-shade-3);
  text-decoration: none;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--color-white);
  border-color: var(--main-color-shade-1);
  color: var(--main-color-shade-1);
}
::ng-deep .p-tabview .p-tabview-nav li {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

::ng-deep .p-card {
  background: #ffffff;
  color: #4b5563;
  box-shadow: none;
  border-radius: 0;
}
::ng-deep  .p-card .p-card-body {
  padding: 0.25rem;
}

::ng-deep button {
  border-radius: 3rem;
}
input{
  border: 0;
}
.card-schedule{
  border-color: var(--main-color-shade-1)
}

.btn.btn-primary {
  background-color: var(--main-color-shade-1);
  border: 1px solid var(--color-white);
  border-radius: 10px;
  color: var(--color-white);
}

.trending {
  background-image: url('/assets/images/home-image.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
}
