
    <form class="p-5">
       <p-card header="ACCOUNT" [style]="{ width: '1200px' }">
        <div>
         <label for="fullName">Full Name</label>
         <input type="text" name="fullName" id="fullName" class="w-full">
        </div>
        <div>
         <label for="email">Email Address</label>
         <input type="email" name="email" id="email" class="w-full">
        </div>
        <div>
         <label for="timeZone">Timezone</label>
         <input type="text" name="timeZone" id="timeZone" class="w-full">
        </div>
        <div>
         <label for="language">Language</label>
         <input type="text" name="language" id="language" class="w-full">
        </div>
        <p-button>Save</p-button>
       </p-card> 
    </form>
     