<div class="container">
  <h3> {{!!courseForm.get('id')?.value ? 'Edit Course' : 'Add Course'}}</h3>

  <p-stepper>
    <p-stepperPanel header="Course Information">
      <ng-template pTemplate="content" let-nextCallback="nextCallback">
        <div class="courseData">
          <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" >
            <div class="mb-3">
              <label class="form-label" for="name">Course Title</label>
              <input aria-label=".form-control-sm example"
                     formControlName="name"
                     class="form-control form-control-sm" id="name"
                     placeholder="Enter a course topic" type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <textarea class="form-control" formControlName='description' id="description" rows="3"></textarea>
            </div>
            <div class="d-flex">
              <div class="mb-3 w-100">
                <label class="form-label" for="startDate">Start Date</label>
                <input aria-label=".form-control-sm example"
                       formControlName="startDate"
                       class="form-control form-control-sm" id="startDate"
                       placeholder="Enter course start date" type="date">
              </div>
              <div class="mb-3 w-100">
                <label class="form-label" for="endDate">End Date</label>
                <input aria-label=".form-control-sm example"
                       formControlName="endDate"
                       class="form-control form-control-sm" id="endDate"
                       placeholder="Enter course end date" type="date">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="duration">Duration</label>
              <input aria-label=".form-control-sm example"
                     formControlName="duration"
                     class="form-control form-control-sm" id="duration"
                     placeholder="Enter course duration" type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="price">Price</label>
              <input aria-label=".form-control-sm example"
                     formControlName="price"
                     class="form-control form-control-sm" id="price"
                     placeholder="Enter course price" type="number">
            </div>
            <div class="mb-3">
              <label class="form-label" for="discountedPrice">Discounted Price</label>
              <input aria-label=".form-control-sm example"
                     formControlName="discountedPrice"
                     class="form-control form-control-sm" id="discountedPrice"
                     placeholder="Enter course discounted price" type="number">
            </div>
            <div class="mb-3">
              <label for="status">Status</label>
              <select class="form-control" formControlName='status' id="status">
                <option *ngFor="let option of ['DRAFT', 'PUBLISHED', 'INACTIVE', 'ARCHIVED']">{{ option }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="category">Category</label>
              <select class="form-control" formControlName='category' id="category">
                <option *ngFor="let option of categories" [value]='option'>{{ option.name }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="about">About this course</label><br>
              <app-rich-text id='about' [richText]='courseForm.get("about")?.value || ""' (textChange)="courseForm.get('about')?.setValue($event)"></app-rich-text>
            </div>
            <div class="mb-3">
              <label class="form-label" for="perks">Course Benefits</label><br>
              <app-rich-text id='perks' [richText]='courseForm.get("perks")?.value || ""' (textChange)="courseForm.get('perks')?.setValue($event)"></app-rich-text>
            </div>
            <file-upload [uploadUrl]="courseForm.get('imgUrl')?.value" (fileUploaded)="courseForm.get('imgUrl')?.setValue($event)" ></file-upload>
            <div class="mb-3 d-flex">
              <div class="form-check">
                <input class="form-check-input" formControlName="issueCertificate" type="checkbox" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Has Completion Certificate
                </label>
              </div>
            </div>
            <div class="mb-3 d-flex">
              <div class="w-25">
                <label></label>
                <button class="btn bg-purple text-white mb-2 text-center" type="submit"
                ><span class="me-2 pi pi-plus"></span>Add</button>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="level">Level</label>
              <select class="form-control" formControlName='level' id="level">
                <option class="text-capitalize"
                        *ngFor="let option of ['INTERMEDIATE', 'BEGINNER', 'ADVANCED']">{{ option }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="level">Type</label>
              <select class="form-control" formControlName='type' id="type">
                <option class="text-capitalize"
                        *ngFor="let option of ['COURSE', 'DEGREE', 'WORKSHOP']">{{ option }}</option>
              </select>
            </div>
            <button class="btn bg-purple text-white mb-2 text-center" type="submit"
            >Save
              course</button>

          </form>
        </div>

      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Upload Course Material">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="flex flex-column">
          <h3>Lesson 1</h3>
          <textarea placeholder="Brief" rows="3" cols="30"></textarea>
          <textarea  placeholder="Brief" rows="3" cols="30"></textarea>
          <div class="flex pt-4 justify-content-between">
            <p-button
              label="Back"
              icon="pi pi-arrow-left"
              (onClick)="prevCallback.emit()" />
            <p-button
              label="Upload Video"
              icon="pi pi-video"
              class="p-button-primary p-mr-2" />
            <p-button
              label="Add Document"
              icon="pi pi-file"
              class="p-button-secondary" />
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()" />
          </div>
        </div>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Exam">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="flex flex-column h-12rem">
          <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
            Exam Content
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (onClick)="prevCallback.emit()" />
          <p-button
            label="Next"
            icon="pi pi-arrow-right"
            iconPos="right"
            (onClick)="nextCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Pricing">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="flex flex-column h-12rem">
          <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
            Pricing Content
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (onClick)="prevCallback.emit()" />
          <p-button
            label="Next"
            icon="pi pi-arrow-right"
            iconPos="right"
            (onClick)="nextCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Publish">
      <ng-template pTemplate="content" let-prevCallback="prevCallback">
        <div class="flex flex-column h-12rem">
          <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
            Publish Content
          </div>
        </div>
        <div class="flex pt-4 justify-content-start">
          <p-button
            label="Back"
            icon="pi pi-arrow-left"
            (onClick)="prevCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>


  <div class="courseTopic mb-3 ">
    <button class="btn bg-purple text-white w-25" data-bs-target="#exampleModal1" data-bs-toggle="modal" type="button">
      <span class="me-2 pi pi-plus"></span> Add Course Topic
    </button>
  </div>
  <div class="courseLesson mb-3 ">
    <button class="btn bg-purple text-white w-25" data-bs-target="#exampleModal2" data-bs-toggle="modal" type="button">
      <span class="me-2 pi pi-plus"></span> Add Course Lesson
    </button>
  </div>
</div>



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseTopics()" [formGroup]="courseTopicForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Course Topic Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="name"
                   class="form-control form-control-sm" id="topicName"
                   placeholder="Enter a course topic" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Course Topic Position</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="topicPosition"
                   formControlName="position"
                   placeholder="Enter the course topic position" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Course Topic Duration</label>
            <input aria-label=".form-control-sm example"
                   formControlName="duration"
                   class="form-control form-control-sm"
                   id="topicDuration"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Lesson Form</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseLesson()" [formGroup]="courseLessonForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Lesson Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="lessonName"
                   class="form-control form-control-sm" id="lessonName"
                   placeholder="Enter lesson name" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Title</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="title"
                   formControlName="title"
                   placeholder="Enter the title" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Lesson Position</label>
            <input aria-label=".form-control-sm example"
                   formControlName="position"
                   class="form-control form-control-sm"
                   id="position"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <div class="mb-3">
            <label for="status">Content Type</label>
            <select class="form-control" formControlName='contentType' id="contentType"
            (change)="onSelectContentType()">
              <option [ngValue]="i"
                      *ngFor="let option of ['VIDEO', 'LECTURE', 'QUIZ']; let i = index">{{ option }}</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="courseLessonForm.get('contentType')!.value === 1">
            <label class="form-label" for="content">Content :</label>
            <textarea type="text"
                      class="form-control form-control-sm"
                      formcontrolName="content" id="content">
            </textarea>
          </div>
          <div class="mb-3" *ngIf="courseLessonForm.get('contentType')!.value === 0">
            <label class="form-label" for="video">Upload the videoUrl :</label>
            <input type="file"
                      class="form-control form-control-sm"
                      formcontrolName="content" id="video">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal3" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseTopics()" [formGroup]="courseTopicForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Course Topic Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="name"
                   class="form-control form-control-sm" id="topicName"
                   placeholder="Enter a course topic" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Course Topic Position</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="topicPosition"
                   formControlName="position"
                   placeholder="Enter the course topic position" type="number">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Course Topic Duration</label>
            <input aria-label=".form-control-sm example"
                   formControlName="duration"
                   class="form-control form-control-sm"
                   id="topicDuration"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal4" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Lesson Form</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveCourseLesson()" [formGroup]="courseLessonForm">
          <div class="mb-3">
            <label class="form-label" for="topicName">Lesson Name</label>
            <input aria-label=".form-control-sm example"
                   formControlName="lessonName"
                   class="form-control form-control-sm" id="lessonName"
                   placeholder="Enter lesson name" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicPosition">Title</label>
            <input aria-label=".form-control-sm example"
                   class="form-control form-control-sm"
                   id="title"
                   formControlName="title"
                   placeholder="Enter the title" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="topicDuration">Lesson Position</label>
            <input aria-label=".form-control-sm example"
                   formControlName="position"
                   class="form-control form-control-sm"
                   id="position"
                   placeholder="Enter the course topic duration" type="text">
          </div>
          <div class="mb-3">
            <label for="status">Content Type</label>
            <select class="form-control" formControlName='contentType' id="contentType"
                    (change)="onSelectContentType()">
              <option [ngValue]="i"
                      *ngFor="let option of ['VIDEO', 'LECTURE', 'QUIZ']; let i = index">{{ option }}</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="courseLessonForm.get('contentType')!.value === 1">
            <label class="form-label" for="content">Content :</label>
            <textarea type="text"
                      class="form-control form-control-sm"
                      formcontrolName="content" id="content">
            </textarea>
          </div>
          <div class="mb-3" *ngIf="courseLessonForm.get('contentType')!.value === 0">
            <label class="form-label" for="video">Upload the videoUrl :</label>
            <input type="file"
                   class="form-control form-control-sm"
                   formcontrolName="content" id="video">
          </div>
          <button class="btn bg-purple text-white" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
