.main-container {
  font-family: 'Lato';
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* src/app/app.component.css */

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
}
