<app-navbar></app-navbar>
<section id="payment">
  <div class="container w-75 pt-2">
    <div class="d-flex mt-3">
      <div class="container p-2" style="font-size: 14px;">
        <div class="p-5">
          <h4 class="fw-bold">Checkout</h4>
          <span class="fw-bold">Card Type</span>
        </div>
        <div class="d-flex justify-content-between pe-5 ps-5 pb-3">
          <div>
            <img [src]="imageOne" height="50px" width="75px" alt="paypal"/>
          </div>
          <div>
            <img [src]="imageTwo" height="50px" width="75px"  alt="american_card"/>
          </div>
          <div>
            <img [src]="imageThree" height="50px" width="75px"  alt="visa_card"/>
          </div>
          <div>
            <img [src]="imageFour" height="50px" width="75px"  alt="master_card"/>
          </div>
        </div>
        <div class="card border-0 pe-5 ps-5">
          <div class="input">
            <span>Name</span>
            <input class="form-control form-control-sm rounded-3" placeholder="Enter Name"/>
          </div>
          <div class="input">
            <span>Card Number</span>
            <input class="form-control form-control-sm rounded-3" placeholder="Enter Card Number"/>
          </div>
          <div class="d-flex input">
            <div class="w-50 me-2">
              <span>Expiration Date</span>
              <input class="form-control form-control-sm rounded-3" type="date" placeholder="Enter Expiration Date"/>
            </div>
            <div class="w-50">
              <span>CVC</span>
              <input class="form-control form-control-sm rounded-3" placeholder="Enter CVC"/>
            </div>

          </div>
          <div class="input">
            <form class="flex align-items-center gap-1" [formGroup]="formGroup">
              <p-checkbox formControlName="city" value="New York" inputId="ny"></p-checkbox>
              <label for="ny" class="ms-2">Save my information for faster checkout</label>
            </form>
          </div>
          <button class="btn btn-light btn-sm mt-3 rounded-3" style="background-color: #A632DC; color: #FFFFFF">Confirm
            Payment</button>
        </div>
      </div>
      <!--      side card-->
      <div class="container pt-5" style="font-size: 14px;">
        <div class="card p-4 mt-5" style="background-color: rgba(227, 195, 242, 0.5)">
          <small>Summary</small>
          <div>
            <div class="d-flex mb-3">
              <!-- <div class="w-25 me-2">
                <img [src]="imageFour" height="75" width="120" alt="product_image"/>
              </div> -->
              <div class="w-75" *ngFor="let course of courses">
                <h6>{{course.name}}</h6>
                <div class="">By <span class="fw-bolder">{{course.instructors}}</span></div>
                <span class="fw-semibold">{{course.price}}</span>
              </div>
            </div>
            <div class="d-flex">
              <!-- <div class="w-25 me-2">
                <img [src]="imageTwo" height="75" width="120" alt="product_image"/>
              </div> -->
              <div class="w-75">
                <h6>Product Design for Beginners</h6>
                <div class="">By <span class="fw-bolder">Jerry Peters</span></div>
                <span class="fw-semibold">$50.00</span>
              </div>
            </div>
          </div>
          <hr/>
          <div class="d-flex justify-content-between">
            <span>Subtotal</span>
            <span>{{subtotal}}</span>
          </div>
          <hr/>
          <div class="d-flex justify-content-between">
            <span>Coupon Discount</span>
            <span>{{discount}}</span>
          </div>
          <hr/>
          <div class="d-flex justify-content-between">
            <span>Tax</span>
            <span>{{tax}}</span>
          </div>
          <hr/>
          <div class="d-flex justify-content-between fw-bold">
            <span>Total</span>
            <span>{{total}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-carousel-courses [carouselType]="'courses'"></app-carousel-courses>
