<div class="m-5  d-flex   justify-content-start align-items-start" style="flex-direction: column;">
    <form>
        <div>
        <label>Reminder title
            <br>
            <input class="mt-1 pl-2" type="text" style="width:500px;height:44px" placeholder="time to learn">
        </label>
        </div>
        <div class="mt-5">
            <label><input type="checkbox">  Product design for beginners</label>
            <br>
            <label><input type="checkbox">Python</label>
            <br>
            <label><input type="checkbox">None</label>
        </div>
        <div class="mt-5">
            <label>Search
            <br>
            <input type="text" class="mt-1 pl-2" style="width:500px;height:44px" placeholder="Search for course"></label>
        </div>
        <div class="mt-5">
        <button style="color:#A632DC;background:#fff;width:80px;height:47px;font-size:16px">Cancel</button>
        <button [routerLink]="['reminder-popup2']" class="ml-2" style="background: 
        #A632DC;color:#fff;width:80px;height:47px;font-size:16px">Next</button>
        </div>
    </form>
</div>
