<div>
    <form>
        <div>
        <label>Reminder title
            <input type="text" placeholder="time to learn">
        </label>
        </div>
        <div>
            <label><input type="checkbox">Product design for beginners</label>
            <label><input type="checkbox">Python</label>
            <label><input type="checkbox">None</label>
        </div>
        <div>
            <label>Search<input type="text" placeholder="Search for course"></label>
        </div>
        <button>Cancel</button>
        <button [routerLink]="['reminder-popup2']">Next</button>
    </form>
</div>
