<form [formGroup]="paymentForm" (ngSubmit)="makePayment()">
  <div class="mb-3">
    <label for="phn" class="form-label" i18n="@@phone_number">Phone Number</label>
    <input id="phn" formControlName="phn" class="form-control" i18n-placeholder="@@enter_phone" placeholder="Enter Phone Number"/>
    <div *ngIf="paymentForm.get('phn')?.invalid && (paymentForm.get('phn')?.dirty || paymentForm.get('phn')?.touched)">
      <small *ngIf="paymentForm.get('phn')?.errors?.['required']" class="text-danger" i18n="@@phone_required">Phone number is required.</small>
      <small *ngIf="paymentForm.get('phn')?.errors?.['pattern']" class="text-danger" i18n="@@phone_invalid">Invalid card number.</small>
    </div>
  </div>

  <div class="form-check mb-3">
    <input id="saveInfo" formControlName="saveInfo" type="checkbox" class="form-check-input"/>
    <label for="saveInfo" class="form-check-label" i18n="@@save_payment_info_for_faster_checkout">Save my information for faster checkout</label>
  </div>

  <button pButton type="submit" class="p-button-raised p-button-rounded p-button-success" [disabled]="paymentForm.invalid" i18n="@@confirm_payment">Confirm Payment</button>
</form>
