<main>
    <div class="d-flex flex-column justify-content-start align-items-end">
    <div>
        <div>
            <h1 class="h1" style="margin-top:20px;">Courses</h1>
        </div>
        <div>
            <button class="pi pi-plus p-2 newCourse text-white rounded-1" style="margin-top:20px;
            width: 227px;height: 60px;
            font-size: 20px;  background: #A632DC;border-color: #A632DC;">Add New Course</button>
        </div>
        <div class="list" style="margin-top:50px;" >
            <h2>Course List</h2>
            <div class="d-flex" style="width:1006px;gap:5px;">
                <span class="p-input-icon-left" style="width: 200px; height:36px;text-align: center;">
                    <i class="pi pi-search"></i>
                    <input type="text" class="bg-white search border-1 p-1" placeholder="Search" style="width: 200px; height:36px;text-align: center;" />
                </span>
              <!-- <button class="bg-white search border-1" style="width: 200px; height:36px;text-align: left;"><em class="pi pi-search p-2"></em>Search</button> -->
                <select class=" search border-1" style="height:36px;width:90px;">
                    <option>Filter</option>
                </select>
                <select class=" search border-1" style="height:36px;width:90px">
                    <option>Filter</option>
                </select>
                <select class=" search border-1" style="height:36px;width:90px">
                    <option>Filter</option>
                </select>
                <p class="p-2" style="height:36px;width:150px" >Displaying 4 results</p>
            <label  style="height:36px;width:179px">Sort:<select class=" search border-1 p-1" style="height:36px;width:139px">
                    <option>Most Recent</option>
                </select>
            </label>
            <button class="bg-white search border-1" style="height:36px;width:36px"><em class="pi pi-ellipsis-v"></em></button>
            <button class="bg-white search border-1" style="height:36px;width:139px"><em class="pi pi-download p-2"></em>Export</button>
            </div>
            <table class="bordered-table mt-4">
                <thead>
                    <tr>
                       <th><input  type="checkbox"/><em class="p-2"></em>Course Created</th>
                        <th>Start Date</th>
                        <th>Upload Status</th>
                        <th>Category</th>
                        <th>Duration</th>
                        <th><input type="checkbox"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"/><em class="p-2"></em>Della Craig</td>
                        <td>dellacraig&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0 activeDot"><em class="pi pi-circle-on p-1 dot" style="font-size: 12px;"></em>Active</button></td>
                        <td>Design</td>
                        <td>Duke</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                    <tr class="tr">
                        <td><input type="checkbox"/><em class="p-2"></em>Effie Vasquez</td>
                        <td>dellacraig&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0 activeDot"><em class="pi pi-circle-on p-1 dot " style="font-size: 12px;"></em>Active</button></td>
                        <td>Programming</td>
                        <td>Mizzou</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/><em class="p-2"></em>Corey Kim</td>
                        <td>corey.kim&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0"><em class="pi pi-circle-on p-1 dot text-black" style="font-size: 12px;"></em>In Progress</button></td>
                        <td>Information tech</td>
                        <td>Georgia</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                    <tr class="tr">
                        <td><input type="checkbox"/><em class="p-2"></em>Francis Newton</td>
                        <td>francis.newton&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0 activeDot"><em class="pi pi-circle-on p-1 dot" style="font-size: 12px;"></em>Active</button></td>
                        <td>Data Analytics</td>
                        <td>UCLA</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                </tbody>
            </table>
            <div>
            <button class="border-light"><em class="pi pi-chevron-left" style="font-size:12px;"></em></button>
            <span class="p-3 ms-3 text-white rounded-circle one" style="font-size: 12px;">1</span>
            <span class="p-3">2</span>
            <span class="p-3">3</span>
            <button class="bg-white border-light"><em class="pi pi-chevron-right" style="font-size:12px;"></em></button>
            <label class="align-item-end p-5 show" style="margin-left: 630px;">Show:<select class="bg-white search border-1" style="height:36px;width:96px;">
                <option>4 Rows</option>
            </select></label>
            </div>
        </div>
    </div>
    </div>
</main>
