<main>
    <div class="d-flex flex-column justify-content-start align-items-center">
        <div>
            <h1 class=>Courses</h1>
        </div>
        <div>
            <button class="pi pi-plus p-2 newCourse text-white rounded-1">Add New Course</button>
        </div>
        <div class="list">
            <h2>Course List</h2>
            <div class="d-flex">
              <button><em class="pi pi-search p-2"></em>Search</button>
                <select>
                    <option>Filter</option>
                </select>
                <select>
                    <option>Filter</option>
                </select>
                <select>
                    <option>Filter</option>
                </select>
                <p class="p-2" >Displaying 4 results</p>
            <label>Sort:<select>
                    <option>Most Recent</option>
                </select>
            </label>
            <button><em class="pi pi-ellipsis-v"></em></button>
            <button><em class="pi pi-download p-2"></em>Export</button>
            </div>
            <table class="bordered-table mt-4">
                <thead>
                    <tr>
                       <th><input  type="checkbox"/><em class="p-2"></em>Course Created</th>
                        <th>Start Date</th>
                        <th>Upload Status</th>
                        <th>Category</th>
                        <th>Duration</th>
                        <th> <input type="checkbox"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"/><em class="p-2"></em>Della Craig</td>
                        <td>dellacraig&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0 activeDot"><em class="pi pi-circle-on p-1 dot"></em>Active</button></td>
                        <td>Design</td>
                        <td>Duke</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/><em class="p-2"></em>Effie Vasquez</td>
                        <td>dellacraig&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0 activeDot"><em class="pi pi-circle-on p-1 dot "></em>Active</button></td>
                        <td>Programming</td>
                        <td>Mizzou</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/><em class="p-2"></em>Corey Kim</td>
                        <td>corey.kim&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0"><em class="pi pi-circle-on p-1 dot text-black"></em>In Progress</button></td>
                        <td>Information tech</td>
                        <td>Georgia</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/><em class="p-2"></em>Francis Newton</td>
                        <td>francis.newton&#64;gmail.com</td>
                        <td><button class=" rounded-5 border-0 activeDot"><em class="pi pi-circle-on p-1 dot"></em>Active</button></td>
                        <td>Data Analytics</td>
                        <td>UCLA</td>
                        <td><em class="pi pi-ellipsis-v"></em></td>
                    </tr>
                </tbody>
            </table>
            <div>
            <button><em class="pi pi-chevron-left"></em></button>
            <span class="p-1">1</span>
            <span class="p-1">2</span>
            <span class="p-1">3</span>
            <button><em class="pi pi-chevron-right"></em></button>
            <label class="p-5">Show:<select>
                <option>4 Rows</option>
            </select></label>
            </div>
        </div>
    </div>
</main>
