

::ng-deep a {
  color: rgba(101, 101, 101, 1);
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #A632DC;
  color: #A632DC;
}
::ng-deep .p-tabview .p-tabview-nav li {
  margin-right: 4rem;
  margin-left: 4rem
}
