<app-navbar></app-navbar>
<div class="">
  <p-tabView>
    <p-tabPanel header="About">
        <app-about-course></app-about-course>
    </p-tabPanel>
    <p-tabPanel header="Course Content">
        <app-course-content></app-course-content>
    </p-tabPanel>
    <p-tabPanel header="What's Included">
      <app-course-included></app-course-included>
    </p-tabPanel>
    <p-tabPanel header="Instructor(s)">
      <app-instructor-details></app-instructor-details>
    </p-tabPanel>
    <p-tabPanel header="Reviews">
      <app-reviews></app-reviews>
    </p-tabPanel>
  </p-tabView>
</div>
<app-carousel-courses></app-carousel-courses>

