::ng-deep a {
  color: var(--color-grey-shade-3);
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--color-white);
  border-color: var(--main-color-shade-1);
  color: var(--main-color-shade-1);
}
::ng-deep .p-tabview .p-tabview-nav li {
  margin-right: 4rem;
  margin-left: 4rem
}
