<a [routerLink]="'course_detail/'+course?.id" class="text-decoration-none">
  <p-card [style.max-width]="maxWidth" >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="course?.imageUrl || courseImage " class="rounded-3" />
    </ng-template>
    <div class='d-flex flex-column row-gap-1'  style=''>
      <div class='d-flex justify-content-between'>
        <span> <img alt="dropdown icon" src="/assets/svg/solar_widget-linear.svg"/> {{ category || 'Programming' }}</span>
        <span> <img alt="dropdown icon" src="/assets/svg/solar_alarm-linear.svg"/>{{ course?.duration }}</span>
      </div>
      <h5 class="text-left text-size text-overflow-ellipsis">{{ course?.name }}</h5>
      <div class='d-flex justify-content-start'>
        <p-avatar
          [image]="instructorImage"
          styleClass="mr-2"
          size="large"
          shape="circle" />
        <div class='d-flex flex-column align-items-start'>
          <small class="text-purple fw-bold"> {{ course?.instructors || 'TechAscend' }}</small>
          <span style='color: #999'>
            <p-rating [ngModel]="course?.numberOfRatings || 4" [readonly]="true" [cancel]="false" >
              <ng-template pTemplate="onicon">
                <img
                  [src]="starImage"/>
              </ng-template>
              <ng-template pTemplate="officon">
                <img
                  [src]="unstarImage"/>
              </ng-template>
            </p-rating>
            (1.2k)</span>
        </div>
      </div>
      <div class="pricing d-flex justify-content-start column-gap-2">
        <span class="original-price">$100.00</span>
        <span class="sale-price">{{ course?.price }}</span>
      </div>
    </div>
  </p-card>
</a>
