<a [routerLink]="navigationLink" class="text-decoration-none">
  <p-card [style]="{ width: '280px'}">
    <ng-template pTemplate="header">
      <img alt="Card" [src]="courseImage" class="rounded-3" />
    </ng-template>
    <div>{{ courseTitle }}</div>
    <div class="icon pi pi-user"></div><small class="text-purple ms-1">{{ courseProvider }}</small>
    <div class="ratings">
    <span>
      <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false" [stars]="maxRating"></p-rating>
    </span>
      <small class="ms-1">({{ ratingCount }})</small>
    </div>
    <div><h4>{{ coursePrice }}</h4></div>
  </p-card>
</a>
