::ng-deep .p-splitbutton .p-splitbutton-defaultbutton {
    background-color: transparent;
    color: #000;
    border-color: #A632DC;
}
::ng-deep .p-splitbutton-menubutton{
  background-color: transparent;
  color: #000;
  border-color: #A632DC;
  display: none;
}

::ng-deep div.p-card.p-component{
  background-color: #F0F3FF;
}
  a{
    color: #000;
  }
 
input,button{
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.00);
}
input{
    border: 1px solid #000;
}
input:focus{
    outline: 1px solid #A632DC;
}
button{
    border: 1px solid #A632DC;
}